---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign category_posts = site.publications | where: "category", category[0] %}
    {% assign total_in_category = category_posts | size %}
    {% if total_in_category > 0 %}
      <h2>{{ category[1].title }}</h2><hr />
      <ul class="pub-list">
      {% for post in category_posts reversed %}
        {% assign index = total_in_category | minus: forloop.index0 %}
        {% include pub-simple.html %}
      {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% else %}
  {% assign total_pubs = site.publications | size %}
  <ul class="pub-list">
  {% for post in site.publications reversed %}
    {% assign index = total_pubs | minus: forloop.index0 %}
    {% include pub-simple.html %}
  {% endfor %}
  </ul>
{% endif %}