---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        <ol class="pub-list">
        {% assign title_shown = true %}
      {% endunless %}
      {% include pub-simple.html %}
    {% endfor %}
    {% if title_shown %}
      </ol>
    {% endif %}
  {% endfor %}
{% else %}
  <ol class="pub-list">
  {% for post in site.publications reversed %}
    {% include pub-simple.html %}
  {% endfor %}
  </ol>
{% endif %}
